version: '3.8'

services:
  # 스프링 부트 앱
  sdk-app:
    container_name: sdk-app
    build: .
    image: sdk-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysql-db:3306/my_database?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true"
      SPRING_DATASOURCE_USERNAME: "root"
      SPRING_DATASOURCE_PASSWORD: "root" # (테스트용 비번)
    depends_on:
      - mysql-db

  # 도커용 MySQL
  mysql-db:
    image: mysql:8.0
    container_name: mysql-container
    ports:
      - "3306:3306" # 내 컴퓨터 3306 포트와 연결
    environment:
      MYSQL_DATABASE: my_database
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql # 데이터를 껐다 켜도 안 날아가게 저장

volumes:
  db_data: